.header{
    background-color: rgba(255,255, 255, 0.2);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255,255, 255, 0.2);
    border-radius: 12px;
    padding: 1rem ;
    position: sticky;
    top: 0;
    z-index: 50; 
}
.logo{
    cursor: pointer;
}

.searchBar{
    flex: 1;
    max-width: 500px;
    /* display: flex; */
    align-items: center;
    margin-left: 20px;
}

.searchInput{
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.searchButton{
    background-color: #ec4899;
    color: white;
    padding: 11.5px 1rem ;
    border-radius:0 20px 20px 0 ;
    cursor: pointer;
    border: none;
}

.navLink a{
    color: #333;
    transition: color 0.3s ease;
}

.navLink a:hover{
    color: #ec4899;
} 
.cartBadge{
    font-size: 0.75rem;
    font-weight: bold;
}